<div class="social-links">
    {% if site.facebook %}
        <a class="link" data-title="facebook.com/{{ site.facebook }}" href="https://facebook.com/{{ site.facebook }}" target="_blank">
            <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
        </a>
    {% endif %}

    {% if site.twitter %}
        <a class="link" data-title="twitter.com/{{ site.twitter }}" href="https://twitter.com/{{ site.twitter }}" target="_blank">
            <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
        </a>
    {% endif %}

    {% if site.tumblr %}
        <a class="link" data-title="{{ site.twitter }}.tumblr.com" href="https://{{ site.twitter }}.tumblr.com" target="_blank">
            <svg class="icon icon-tumblr"><use xlink:href="#icon-tumblr"></use></svg>
        </a>
    {% endif %}

    {% if site.instagram %}
        <a class="link" data-title="instagram.com/{{ site.instagram }}" href="https://instagram.com/{{ site.instagram }}" target="_blank">
            <svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg>
        </a>
    {% endif %}

    {% if site.flickr %}
        <a class="link" data-title="flickr.com/photos/{{ site.flickr }}" href="https://flickr.com/photos/{{ site.instagram }}" target="_blank">
            <svg class="icon icon-flickr"><use xlink:href="#icon-flickr"></use></svg>
        </a>
    {% endif %}

    {% if site.linkedin %}
        <a class="link" data-title="linkedin.com/in/{{ site.linkedin }}" href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank">
            <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
        </a>
    {% endif %}

    {% if site.github %}
        <a class="link" data-title="github.com/{{ site.github }}" href="https://github.com/{{ site.github }}" target="_blank">
            <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
        </a>
    {% endif %}

    {% if site.hackerrank %}
        <a class="link" data-title="hackerrank.com/{{ site.hackerrank }}" href="https://hackerrank.com/{{ site.hackerrank}}" target="_blank">
            <svg class="icon icon-hackerrank"><use xlink:href="#icon-hackerrank"></use></svg>
        </a>
    {% endif %}

    {% if site.keybase %}
        <a class="link" data-title="keybase.io/{{ site.keybase }}" href="https://keybase.io/{{ site.keybase }}" target="_blank">
            <svg class="icon icon-keybase"><use xlink:href="#icon-keybase"></use></svg>
        </a>
    {% endif %}

    {% if site.reddit %}
        <a class="link" data-title="reddit.com/user/{{ site.reddit }}" href="https://www.reddit.com/user/{{ site.reddit }}" target="_blank">
            <svg class="icon icon-reddit"><use xlink:href="#icon-reddit"></use></svg>
        </a>
    {% endif %}

    {% if site.medium %}
        <a class="link" data-title="medium.com/@{{ site.medium }}" href="https://medium.com/@{{ site.medium }}" target="_blank">
            <svg class="icon icon-medium"><use xlink:href="#icon-medium"></use></svg>
        </a>
    {% endif %}

    {% if site.paypal %}
        <a class="link" data-title="paypal.me/{{ site.twitter }}" href="https://paypal.me/{{ site.twitter }}" target="_blank">
            <svg class="icon icon-paypal"><use xlink:href="#icon-paypal"></use></svg>
        </a>
    {% endif %}

    {% if site.monero %}
        <a class="link" data-title="{{ site.monero }}" href="monero:{{ site.monero }}" target="_blank">
            <svg class="icon icon-monero"><use xlink:href="#icon-monero"></use></svg>
        </a>
    {% endif %}

    {% if site.email %}
        <a class="link" data-title="{{ site.email }}" href="mailto:{{ site.email }}">
            <svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
        </a>
    {% endif %}
</div>
